<!DOCTYPE html>
<html>
<head>
  <title>Menu</title>
  <style>
    body {
      font-family: sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f5f5f5;
    }
    
    .container {
      text-align: center;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    .welcome {
      font-size: 24px;
      margin-bottom: 20px;
    }
    
    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .menu a {
      display: block;
      /*width: 200px;*/
      width: 90%;
      padding: 10px;
      margin-bottom: 10px;
      font-size: 18px;
      text-decoration: none;
      color: #000;
      background-color: #DABCF9;
      border: 1px solid #2a163d;
      border-radius: 5px;
    }
    .menu a:hover {
      background-color: #af90bc;
    }
    h2{
    color:#1d0831 ;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="welcome">
      Bem-vindo, <%= username %>
    </div>
    <h2>Menu de Opções</h2>
    <div class="menu">
      <a href="/loja">Loja</a>
      <a href="/loja/aluguel">Meus Aluguéis</a>
      <a href="/loja/conta">Minha Conta</a>
      <a href="/logout">Logout</a>
    </div>
  </div>
</body>
</html>
