<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <style>
    label {
        padding: 5px;
        text-align: left;
        color: #270c27;
    }
    body {
        background-color: #DABCF9;
    }

    .login {
        font-family: sans-serif;
        height: auto;
        width: auto;
        background-color: #fff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding-left: 40px;
        padding-right: 50px;
        border-radius: 15px;
        color: #fff;
        border-style: solid;
    }

    input {
        width: 100%;
        padding: 12px;
        border: 1px;
        border-radius: 9px;
        outline: none;
        font-size: 15px;
        background-color: #F0F0F0;
    }
    select {
        width: 100%;
        padding: 12px;
        border: 1px;
        border-radius: 9px;
        outline: none;
        font-size: 15px;
        background-color: #F0F0F0;
    }
    h1 {
        color: #341A4E;
        font-size: 25px;
    }

    h3 {
        color: #4f1f69;
        font-size: 15px;
    }

    a {
        font-size: 5px;
        text-decoration: none;
    }

    #botaoCadastro {
        text-align: center;
        border: none;
        padding: 10px;
        width: 70%;
        height: 37px;
        font-size: 17px;
        border-radius: 15px;
        color: #ffffff;
        background-color: #A069C1;
    }

    #botaoCadastro:hover {
        transition: all 0.5s;
        background-color: #4f1f69;
    }

    p {
        color: #A069C1;
    }
     @media(max-width: 700px) {
        .login {
            height: auto;
            width: 70%;
        }
    }
  </style>
  <script>
    function checkPasswords() {
      var password1 = document.getElementById("password").value;
      var password2 = document.getElementById("passwordConfirmar").value;
      
      if (password1 !== password2) {
        alert("As senhas não coincidem!");
        return false; // Impede o envio do formulário
      }
      return true; // Permite o envio do formulário
    }

    function checkEmail() {
      var email = document.getElementById("username").value;

      // Fazer uma requisição AJAX para verificar se o email já existe no servidor
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/check-email', true); // Substitua '/check-email' pela rota correta no seu servidor
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
          var response = JSON.parse(xhr.responseText);
          if (response.exists) {
              alert("O email já está em uso");
          } else {
              // Continuar com o envio do formulário
              document.getElementById("signup-form").submit();
          }
          }
      };
      xhr.send(JSON.stringify({ username: email })); // Corrigido para 'email' ao invés de 'username'

      return false; // Impede o envio normal do formulário
    }
    function validateForm() {
      return checkPasswords() && checkEmail();
    }
  </script>
</head>
<body>
    <br><br>
  <div class="login">
    <br>
    <center><h1>Cadastro Usuário</h1></center>
    <form id="signup-form" action="/signup" method="POST" onsubmit="return validateForm()">
      <label for="nome">Nome Completo</label>
      <input type="text" id="nome" name="nome" required placeholder="Nome">
      <br><br>
      <label for="username">Email</label>
      <input type="email" id="username" name="username" placeholder="Email" required="required">
      <br><br>
      <label for="telefone">Telefone</label>
      <input type="text" id="telefone" name="telefone" placeholder="Telefone" required="required">
      <br><br>
      <label for="dataNasc">Data Nascimento</label>
      <input type="date" id="dataNasc" name="dataNasc" required="required">
      <br><br>

      <label for="genero">Gênero</label><br>
      <select id="genero" name="genero" required>
          <option value="Masculino">Masculino</option>
          <option value="Feminino">Feminino</option>
      </select>
      
      <br><br>
      <label for="password">Senha</label>
      <input type="password" id="password" name="password" placeholder="Senha" required="required"><br>
      <br>
      <label for="passwordConfirmar">Confirmar Senha</label>
      <input type="password" id="passwordConfirmar" name="passwordConfirmar" placeholder="Confirmar Senha" required="required"><br>
      <br></br>
      <center>
        <input type="submit" value="Cadastro" id="botaoCadastro"></br></br>
        <a href="/login"><h3 id="cadastrar">Já possui conta? <u>Login</u> </h3></a></br>
      </center>
    </form>
  </div>
</body>
</html>
